<%- include("partials/header"); -%>

  <section class=" animate__animated animate__slideInDown">
    <div class="row banner center">
      <div class="col-lg 4 banner-text animate__animated animate__slideInUp">
        <h1>Stay Home.</h1>
        <h1>Stay Safe.</h1>
      </div>
      <div class="col-lg-8">
        <img class="banner-img" src="images/banner.jpg" alt="">
      </div>

      <!-- <a href="https://www.freepik.com/vectors/health">Health vector created by freepik - www.freepik.com</a> -->
    </div>
  </section>

<hr class="section-divider">

  <section class="symptoms ">
    <h3 class="heading-section">SYMPTOMS</h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col1">
                <img src="images/fever.png" alt="fever" class="symptom-pic">
                <h4 class="heading-symptoms">Fever</h4>
                <p class="para-symptoms">Normal body temperatures are different for everyone, but they lie within the range of 97 to 99. A temperature of 100.4 or higher is considered a fever.</p>
            </div>

            <div class="col-md-4 col1">
                <img src="images/cough.png" alt="cough" class="symptom-pic">
                <h4 class="heading-symptoms">Cough</h4>
                <p class="para-symptoms">Coughs that are "productive" get germy mucus out of your lungs when you're sick. Most will go away in a few days. After a cold, though, some "dry"coughs last weeks or months.</p>
            </div>

            <div class="col-md-4 col1">
                <img src="images/headache.png" alt="headache" class="symptom-pic">
                <h4 class="heading-symptoms">Headache</h4>
                <p class="para-symptoms">If you have severe headaches or accompanying symptoms that are disrupting your life, it might be a good idea to see a neurologist.</p>
            </div>
        </div>
    </div>
  </section>

<hr class="section-divider">

<section>
   <div class="row prevention center">
     <div class="prev-pos">
       <img
         src="https://www.flaticon.com/svg/static/icons/svg/2927/2927726.svg"
         width="100px"
         height="100px"
         style="display: inline-block"
       />
       <div style="display: inline-block" class="prev-title-box">
         <p class="prev-title">Covid-19 Prevention Tips</p>
       </div>
     </div>

     <div class="row">
       <div class="prevention-box col-lg-4">
         <img
           class="prev-img"
           src="images/wash.jpg"
           width="400"
         />
         <h4 class="heading-symptoms">Wash your hands</h4>
         <p class="para-symptoms">
           Clean your hands often. Use soap and water, or an alcohol-based
           hand rub.
         </p>
       </div>
       <div class="prevention-box col-lg-4">
         <img
           class="prev-img"
           src="images/mask.jpg"
           width="200"
         />
         <h4 class="heading-symptoms">Wear a mask</h4>
         <p class="para-symptoms">
           Wear a mask when physical distancing is not possible. Cover your
           nose and mouth when you cough or sneeze.
         </p>
       </div>
       <div class="prevention-box col-lg-4">
         <img
           class="prev-img"
           src="https://image.freepik.com/free-vector/man-hazmat-disinfection-concept_23-2148491772.jpg"
           width="200px"
         />
         <h4 class="heading-symptoms">Clean and disinfect</h4>
         <p class="para-symptoms">
           Clean all high use surfaces like countertops, door handles,
           furniture, laptops and mobiles with a disinfectant.
         </p>
       </div>
     </div>
   </div>
 </section>
<%- include("partials/footer"); -%>
