body{
  width:100vw;
  height: 100vh;
  margin: 0;
  background-image:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),url("/images/world-map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1,h2,h3{
  color: #00416d;
  font-family: 'DM Serif Display', serif;
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

.nav-item{
  padding: 0 15px;
  color: #00416d;
  font-weight: bold;
  font-size: 20px;
}

.navbar-brand{
  color: #00416d;
  font-weight: bold;
  font-size: 25px;
  padding-left: 60px;
}

.navbar{
  padding: 50px 50px 3%;
  background-color: #d8d1fd;
  z-index: 1;
}

.footer{
  text-align: center;
  background-color: #d8d1fd;
  color: rgba(0,65,109,0.6);
  font-size: 20px;
  padding: 20px 0;
  font-weight: bold;
}

.banner{
  background-color: #d8d1fd;
  padding: 0 0 0 3%;
  margin-right: 0;
  z-index: -1;
}

.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text h1{
  font-size: 70px;
}

.banner-img{
  height:550px;
  width: 100%;
}

.symptoms {
    margin-top: 2%;
    padding-top: 2%;
    text-align: center;
    margin-bottom: 0;
    background-color: #d8d1fd;
}

hr {
    width: 20%;
}

.heading-symptoms{
padding-top: 3%
}

.section-divider {
  background-color: inherit;
  width: 4%;
  border-top: dotted 10px #d8d1fd;
  margin: 50px auto 20px;
}

.symptom-pic {
    width: 200px;
    height: 200px;
    transition: all 0.2s;
    padding-bottom: 3%;
}

.para-symptoms {
    margin-top: 5%;
    font-family: 'Dosis', sans-serif;
    line-height: 1.9;
    font-size: 20px;
}


.prev-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 200px;
  height: 200px;
}
.prevention {
  padding: 3% 15% 0;
}

.prevention-box {
  text-align: center;
  padding: 5%;
}

.prev-pos
{
    margin-bottom:0;
    margin-top:-5%;
}

.prev-title-box {
  background: #b7a9fe;
  border-radius: 51px;

}
.prev-title {
  margin: 15px;
  font-size: 100%;
  font-weight: 600;
}

.primary-contacts{
  font-weight: 600;
}

.links{
  padding:2% 7%;
}

  /* animation classes */
  .animate__animated.animate__slideInUp
  {
    animation-duration: 1s;
  }

.confirmed h2{
  color:#ff073a;
  font-weight: bold;
}

.confirmed {
  color:#ff073a;
  padding-left: 20%;
}

.recovered h2{
color: #28a745;
font-weight: bold;
}

.recovered{
color: #28a745;
}

.deceased h2{
  font-weight: bold;
  color: #6c757d;
}

.deceased{
  color: #6c757d;
  padding-right: 20%;
}

.confirmed:hover{
  transform: translateY(-0.1rem) scale(1.2);
  transition: transform 150ms;
}

.recovered:hover{
  transform: translateY(-0.1rem) scale(1.2);
  transition: transform 150ms;
}

.deceased:hover{
  transform: translateY(-0.1rem) scale(1.2);
  transition: transform 150ms;
}

.focus
{
  transition:transform .2s;
}

.focus:hover
{
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 65, 109, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.helpline{
  width: 1350px;
}

/* graph css */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.graph {
  width: 60vw;
  margin: 5% auto 5%;
  border: 2px solid #d8d1fd;
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
}

.dropdown {
  width: 300px;
  margin: 0 auto;
}

.label-text {
  font-family: "DM Serif Display", serif;
  font-size: 150%;
  text-align: center;
}

.choose {
  border: 2px solid #d8d1fd;
  font-family: "Dosis", serif;
  width: 200px;
  margin: 5%;
}

graphIn {
  margin-bottom: 3%;
}

.btn {
  width: 100px;
  height: 35px;
  border: 1px solid #d8d1fd;
  font-family: "DM Serif Display", serif;
  background-color: #d8d1fd;
  cursor: pointer;
  margin: 5%;
}

.btn:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .graph {
    width: 200vw;
  }
}
